body {
    background-color: #181818;
    font-family: 'Montserrat' !important;
}

.header-container {
    margin-top:200px;
    margin-left: 30px;
}

@media (min-width: 576px) { 
    .header {
        font-size: 6em;
    }

    .header-small {
        font-size: 2em;
    }

    .header-container {
        margin-top:200px;
        margin-left: 10px;
    }
}

@media (min-width: 768px) { 
    .header {
        font-size: 8em;
    }

    .header-small {
        font-size: 3em;
    }
}

@media (min-width: 992px) { 
    .header {
        font-size: 10em;
    }

    .header-small {
        font-size: 3em;
    }
}

@media (min-width: 1200px) { 
    .header {
        font-size: 12em;
    }

    .header-small {
        font-size: 4em;
    }
}



@media (max-width: 575.98px) { 
    .header {
        font-size: 4em;
    }

    .header-small {
        font-size: 2em;
    }

    .header-container {
        margin-top:200px;
        margin-left: 10px;
    }
}

@media (max-width: 767.98px) { 

}

@media (max-width: 991.98px) { 

}

@media (max-width: 1199.98px) { 
    
}

.header {
    font-family: 'Montserrat';
    font-weight: 800;
    margin-bottom: 0;
    margin-top:0;
    line-height: 86.8%;
    letter-spacing: -0.025em;
}

.header-small {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    margin-bottom: 0;
}

.login-btn {
    border: none;
    width: auto;
    margin-bottom: 50px;
    background-color: #1DB954;
    border-radius: 40px;
    filter: drop-shadow(0px 6px 15px rgba(29, 185, 84, 0.37));
    font-family: 'Montserrat';
    font-weight: 700;
    font-size:24px;
    padding: 20px;
    color:#fff;
    padding-left: 50px;
    padding-right: 50px;
    transition: all .3s ease-in-out;
}

.login-btn:hover {
    margin-bottom: 55px;
    filter: drop-shadow(0px 6px 25px rgba(29, 185, 84, 0.5));
    transition: all .3s ease-in-out;
}

.login-btn:focus {
    border: none;
    outline: 0;
}

.square-img {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.parent {
    display: inline-block;
}

.parent.perspective {
    margin-left:360px;
    perspective: 200em;
}

.child {
    margin: .5em;
    position: absolute;
    display: inline-block;
}

.parent.perspective .child {
    transform: rotateY(50deg);
    background: tomato;
}

.share-footer {
    padding: 20px;
    background-color: #1DB954;
    color: #fff;
}